{% if post.post_type == 'post' and (configs.enable_post_sharing or configs.enable_post_author or configs.enable_post_paging or (fn('comments_open') and configs.enable_post_comments and ((post.comments|length > 0) or fn('is_user_logged_in')))) %}
  <footer class="single-footer rmcc-container rmcc-container-xsmall rmcc-section rmcc-padding-remove-top">
    <ul class="rmcc-child-width-1-1 rmcc-grid-divider" rmcc-grid>

      {# single post sharing #}
      {% block single_share %}
        {% if configs.enable_post_sharing %}
          <li class="single-share rmcc-flex rmcc-flex-left rmcc-flex-right@m rmcc-flex-middle">
            {% include 'single_share.twig' %}
          </li>
        {% endif %}
      {% endblock %}

      {# single post author info #}
      {% block single_author %}
        {% if configs.enable_post_author %}
          <li class="single-author">
            {% include 'single_author.twig' %}
          </li>
        {% endif %}
      {% endblock %}

      {# single post paging #}
      {% block single_pagination %}
        {% if configs.enable_post_paging and (post.next or post.prev) %}
          <li class="single-pagination">
            {% include 'single_pagination.twig' %}
          </li>
        {% endif %}
      {% endblock %}
    
      {# single post comments #}
      {% block single_comments %}
        {% if fn('comments_open') and configs.enable_post_comments and ((post.comments|length > 0) or fn('is_user_logged_in')) %}
          <li class="single-comments">
            {% include 'comments.twig' %}
          </li>
        {% endif %}
      {% endblock %}
    
    </ul>
  </footer>
{% endif %}