{% extends "base.twig" %}

{% block base_styles %}
{% endblock %}

{% block styles %}
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Norican&display=swap" rel="stylesheet">
    <!-- font styles -->
    <style>
      html {
        font-family: font-family: 'Lato', sans-serif;
      }
      .uk-h1, .uk-h2, .uk-h3, .uk-h4, .uk-h5, .uk-h6, .uk-heading-2xlarge, .uk-heading-large, .uk-heading-medium, .uk-heading-small, .uk-heading-xlarge, h1, h2, h3, h4, h5, h6 {
        font-family: 'Lato', sans-serif;
      }
      .norican {
        font-family: 'Norican', cursive;
      }
    </style>
    <!-- general styles -->
    <style>
      .img-obj-fit {
        object-fit: cover;
        width: 100%;
      }
      .uk-form-width-medium {
        width: 300px;
      }
      .uk-button {
        font-weight: bold;
      }
      .uk-position-cover-padded {
        bottom: 35px;
        left: 35px;
        right: 35px;
        top: 35px;
      }
      .padded-outset-border {
        border: 15px outset #7575751f;
      }
      .uk-overlay-primary .uk-button-primary {
        background-color: #ffffff;
        color: #292929;
      }
      .uk-overlay-secondary .uk-button-primary {
        background-color: #008b96;
        color: #fff;
      }
      .uk-overlay-primary {
        background: rgb(30 135 240 / 80%);
      }
      .uk-overlay-secondary {
        background: rgba(34,34,34,.8);
      }
      .img-sepia {
        filter: sepia(1);
      }
      .img-grey {
        filter: grayscale(1);
      }
      .uk-form-large {
        height: 55px;
        padding-left: 12px;
        padding-right: 12px;
      }
      
      @media only screen and (max-width:768px) {
        .uk-position-cover-padded {
          bottom: 0;
          left: 0;
          right: 0;
          top: 0;
        }
        .uk-form-width-medium {
          width: 100%;
        }
        .uk-button-large {
          width: 100%;
          margin-top: 5px;
        }
        .padded-outset-border {
          border: 15px solid #ffffff00;
        }
      }
    </style>
{% endblock %}

{% block header %}
{% endblock %}

{% block contentwrap %}
  <section data-template="coming-soon.twig">
    <div class="uk-inline">
      <img class="launch-cover-img uk-height-viewport img-obj-fit" src="{{theme.link}}/assets/images/stock2.jpg" alt="">
      <div class="uk-overlay-secondary uk-light uk-position-cover uk-position-cover-padded padded-outset-border">
        <div class="uk-position-center uk-text-left">
          {% include 'launch-text.twig' %}
          {% include 'launch-subscribe.twig' %}
          <div class="social-icons uk-grid-small uk-child-width-auto uk-flex uk-flex-left uk-margin-top" uk-grid>
            {% include 'launch-socials.twig' %}
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block footer %}
{% endblock %}