<div class="subscribe-form uk-margin-top">
  <div uk-form-custom="target: true">
    <input type="text" class="uk-input uk-form-width-medium uk-form-large" type="text" placeholder="Enter your email here..">
  </div>
  <button class="uk-button uk-button-primary uk-button-large">Subscribe</button>
</div>