<h2 class="uk-heading-medium norican">{{site.title}}</h2>

<h3 class="launch-subheading uk-h4 uk-text-bold uk-margin-small-bottom">
  {{ __('Coming Soon!', 'cautious-octo-fiesta') }}
</h3>

<h1 class="launch-heading uk-text-bold uk-heading-medium uk-margin-remove-top">
  {{ __('Our new website is on its way.', 'cautious-octo-fiesta') }}
</h1>

<p class="launch-msg uk-text-lead">
  {{ __('Get notified when we launch.', 'cautious-octo-fiesta') }}
</p>