<h2 class="uk-heading-medium norican">{{site.title}}</h2>

<h3 class="launch-subheading uk-h4 uk-text-bold uk-margin-small-bottom">Coming Soon!</h3>

<h1 class="launch-heading uk-text-bold uk-heading-medium uk-margin-remove-top">Our new website is on its way.</h1>

<p class="launch-msg uk-text-lead">Get notified when we launch.</p>