<div>
  <a href="#">
    <i class="fab fa-facebook-f"></i>
  </a>
</div>
<div>
  <a href="#">
    <i class="fab fa-twitter"></i>
  </a>
</div>
<div>
  <a href="#">
    <i class="fab fa-instagram"></i>
  </a>
</div>
<div>
  <a href="#">
    <i class="fab fa-youtube"></i>
  </a>
</div>
<div>
  <a href="#">
    <i class="far fa-envelope"></i>
  </a>
</div>