{#
/**
 * Block Name: Testimonials
 *
 * This is the template that displays the Testimonials block.
 */
#}

{% if is_preview %}
  <link rel="preconnect" href="https://fonts.gstatic.com">
{% endif %}

{% set no_display_text = 'There are no testimonials to display. Please add some Testimonials via Testimonials > Add item.' %}

{% if testimonials is not empty %}
  <section id="Testimonials" class="uk-container uk-container-xsmall">
    <div id="slideshow_tesimonials" class="swiper-container">
      <div class="swiper-wrapper">
        {% for testimonial in testimonials %}
          <div class="swiper-slide">
            <div class="testimonial uk-text-center">
              <div class="testimonials__star-rating">
                {% for i in 1..testimonial.meta('testimonial_rating')|default(5) %}
                  <span class="testimonials__star">
                    <svg aria-hidden="true" focusable="false" role="presentation" width="24" height="24" viewBox="0 0 24 24" fill="currentColor">
                      <path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"></path>
                    </svg>
                  </span>
                {% endfor %}
              </div>
              <p class="uk-h3 uk-padding uk-padding-remove-vertical uk-margin-top">{{testimonial.content|e('esc_html')}}</p>
              <p>- {{testimonial.title}}</p>
            </div>
          </div>
        {% endfor %}
      </div>
      {% if testimonials|length > 1 %}
        <div class="swiper-pagination"></div>
      {% endif %}
    </div>
  </section>
{% else %}
  {{ no_display_text }}
{% endif %}