/* dark backgrounds */
.rmcc-light {
  background: $global-secondary-background;
}
.rmcc-light .rmcc-modal-dialog {
  background: $global-secondary-background;
}
.rmcc-light .rmcc-navbar-dropdown {
  background: $global-secondary-background;
}
.rmcc-light .rmcc-section-default {
  background: $global-secondary-background;
}
.rmcc-light .rmcc-background-default {
  background: $global-secondary-background;
}
/* dark muted backgrounds */
.rmcc-light .rmcc-background-muted,
.rmcc-light .rmcc-modal-close-full,
.rmcc-light .rmcc-section-muted,
.rmcc-light .rmcc-tile-muted {
  background: $global-emphasis-color;
}
.rmcc-light .rmcc-comment-primary {
  background-color: $global-emphasis-color;
}
/* links */
.rmcc-light .rmcc-navbar-dropdown-nav > li > a {
  color: $inverse-global-muted-color;
}
/* links focus/hover */
.rmcc-light .rmcc-navbar-dropdown-nav > li > a:focus {
  color: $inverse-global-color;
}
.rmcc-light .rmcc-navbar-dropdown-nav > li > a:hover {
  color: $inverse-global-color;
}
/* borders */
.rmcc-light .theme-border {
  border: 1px solid $inverse-global-border;
}
.rmcc-light .theme-border-top {
  border-top: 1px solid $inverse-global-border;
}
.rmcc-light .theme-border-right {
  border-right: 1px solid $inverse-global-border;
}
.rmcc-light .theme-border-bottom,
.rmcc-light .the-header.rmcc-sticky-below {
  border-bottom: 1px solid $inverse-global-border;
}
.rmcc-light .theme-border-left {
  border-left: 1px solid $inverse-global-border;
}