{% extends "base.twig" %}
{% import "functions.twig" as functions %}

{% block main %}
  <div class="archive-page blog-page">
    
    {% block archive_header %}
      {{ functions.muted_page_header_with_title(title) }}
    {% endblock %}
    
    {% block archive_loop %}
      {{ functions.archive_loop_grid(posts) }}
    {% endblock %}
      
    {% block archive_footer %}
      {{ functions.archive_footer(posts) }}
    {% endblock %}
    
  </div>
{% endblock %}