{% extends 'archive/tease.twig' %}

{% block tease_thumb %}
  {% if post.thumbnail %}
    <figure>
      <img src="{{ post.thumbnail.src|resize(w|default(600), h|default(null), pos|default(null))|e('esc_url') }}" width="{{ w|default(600) }}" alt="{{ post.thumbnail.alt|e('esc_html') }}">
    </figure>
  {% endif %}
{% endblock %}

{% block tease_metas %}
{% endblock %}

{% block tease_title %}
  <h2 class="rmcc-h3 rmcc-article-title rmcc-margin-small">{{ post.title|e('esc_html') }}</h2>
{% endblock %}

{% block tease_preview %}
  {% include 'password_form.twig' with {small: true} %}
{% endblock %}

{% block tease_read_more %}
{% endblock %}