<li>
  {% include '_comment.twig' %}
  {% for comment in comment.children %}
    <ul>
      <li>
        {% include '_comment.twig' %}
        {% for comment in comment.children %}
          <ul>
            <li>
              {% include '_comment.twig' %}
              {% for comment in comment.children %}
                <ul>
                  <li>
                    {% include '_comment.twig' %}
                    {% for comment in comment.children %}
                      <ul>
                        <li>
                          {% include '_comment.twig' %}
                        </li>
                      </ul>
                    {% endfor %}
                  </li>
                </ul>
              {% endfor %}
            </li>
          </ul>
        {% endfor %}
      </li>
    </ul>
  {% endfor %}
</li>
