{% if post.comments|length > 0 %}
  <h2 class="rmcc-h3">{{ _x('Comments', 'Single: comments', 'rmcc-theme')|e('esc_html') }}</h2>
  <ul class="rmcc-comment-list rmcc-margin-medium-bottom">
    {% for comment in post.comments %}
      <li>
        {% include 'single/comments/comment.twig' with { 'comment': comment, primary_comment: true } %}
        {% for first_child_comment in comment.children %}
          <ul>
            <li>
              {% include 'single/comments/comment.twig' with { comment: first_child_comment } %}
              {% for second_child_comment in first_child_comment.children %}
                <ul>
                  <li>
                    {% include 'single/comments/comment.twig' with { comment: second_child_comment, primary_comment: true } %}
                    {% for third_child_comment in second_child_comment.children %}
                      <ul>
                        <li>
                          {% include 'single/comments/comment.twig' with { comment: third_child_comment, disable_replies: true } %}
                        </li>
                      </ul>
                    {% endfor %}
                  </li>
                </ul>
              {% endfor %}
            </li>
          </ul>
        {% endfor %}
      </li>
    {% endfor %}
  </ul>
{% endif %}

{% if fn('is_user_logged_in') %}
  <h2 class="rmcc-h3">{{ _x('Leave a new comment', 'Single: comments', 'rmcc-theme')|e('esc_html') }}</h2>
  {% include 'single/comments/form.twig' %}
{% endif %}