.git
.ftpconfig
package-lock.json
composer.lock
.sass-cache/
node_modules
node_modules/
compilation_cache
compilation_cache/
notes
notes/
old
dev
bak
old/
dev/
bak/
_old
_dev
_bak
_old/
_dev/
_bak/
__old
__dev
__bak
__old/
__dev/
__bak/