.git
.ftpconfig
package-lock.json
composer.lock

.sass-cache/
node_modules
node_modules/
compilation_cache
compilation_cache/

inc/lib/plugins
inc/lib/plugins/
inc/lib/acf
inc/lib/acf/

_dev/_skins/kcg/+required_functionality/inc/lib/plugins
_dev/_skins/kcg/+required_functionality/inc/lib/plugins/
_dev/_skins/kcg/+required_functionality/inc/lib/acf
_dev/_skins/kcg/+required_functionality/inc/lib/acf/

_dev/_skins/nifa/+required_functionality/inc/lib/plugins
_dev/_skins/nifa/+required_functionality/inc/lib/plugins/
_dev/_skins/nifa/+required_functionality/inc/lib/acf
_dev/_skins/nifa/+required_functionality/inc/lib/acf/