{% extends "single.twig" %}

{% set title = _x('404 - Page Not Found', '404 page', 'loadingdock-theme')|e('esc_html') %}
{% set msg = _x('The page you requested does not exist.', '404 page', 'loadingdock-theme')|e('esc_html') %}
{% set link_txt = _x('Back to Homepage', '404 page', 'loadingdock-theme')|e('esc_html') %}

{% block contentwrap %}
	<section class="404-error-page uk-section uk-container" data-template="404.twig">
		<h1 class="uk-margin-large-bottom uk-heading-small">{{ title }}</h1>
		<p>{{ msg }}</p>
		<a href="{{site.link}}" class="uk-button uk-button-primary uk-button-large">{{ link_txt }}</a>
	</section>
{% endblock %}