{% extends "single.twig" %}

{% block contentwrap %}
	<section class="404-error-page uk-section uk-container" data-template="404.twig">
		<h1 class="uk-margin-large-bottom uk-heading-small">{{ _x('404 - Page Not Found', '404 page', 'serchek-theme')|e('esc_html') }}</h1>
		<p>{{ _x('The page you requested does not exist.', '404 page', 'serchek-theme')|e('esc_html') }}</p>
		<a href="{{site.link}}" class="uk-button uk-button-primary uk-button-large">{{ _x('Back to Homepage', '404 page', 'serchek-theme')|e('esc_html') }}</a>
	</section>
{% endblock %}