{% extends "base.twig" %}

{% block styles %}
  {{ parent() }}
{% endblock %}

{% block main %}
  <div data-template="archive.twig">

    <header class="archive-header">
      <div class="rmcc-section rmcc-section-small rmcc-container rmcc-container-xsmall">
        <h1 class="rmcc-article-title">{{ archive.title|e('esc_html') }}</h1>
      </div>
    </header>

    <div class="archive-content">
      <div class="rmcc-container rmcc-container-xsmall">
        {% include 'archive/loop.twig' %}
      </div>
    </div>

    {% set posts = archive.posts %}
    {% if (posts.pagination.next or posts.pagination.prev) %}
      <footer class="archive-footer">
        <div class="rmcc-section rmcc-section-small rmcc-container rmcc-container-xsmall">
          {% include 'archive/pagination.twig' with {pagination: posts.pagination({show_all: false, mid_size: 3, end_size: 2})} %}
        </div>
      </footer>
    {% endif %}

  </div>
{% endblock %}

{% block scripts %}
  {{ parent() }}
{% endblock %}