{% extends "base.twig" %}

{% block bodywrap %}
  <body class="" data-template="coming-soon.twig">
    <div class="uk-section uk-section-primary uk-flex uk-flex-center uk-flex-middle uk-text-center uk-height-viewport">
      <h1>We are Coming Soon!!</h1>
    </div>
  </body>
{% endblock %}