{% extends "base.twig" %}

{% block spec_styles %}
  <!-- load in swiper-js css -->
  <link rel="stylesheet" href="{{theme.link}}/assets/css/lib/swiper-bundle.min.css" />
  <link rel="stylesheet" href="{{theme.link}}/assets/css/front.css" />
{% endblock %}

{% block pageheader %}
  <div id="slideshow_banner" class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide" style="background-position: center;background-image: url('https://via.placeholder.com/1920x370');background-size: cover;background-repeat: no-repeat;">
        <div class="uk-overlay-primary uk-light uk-width-1-1">
          <div class="uk-section uk-secton-large">
            <div class="uk-container uk-container-expand uk-text-left">
              <div class="uk-width-1-2@m">
                <h4 class="uk-margin-small-bottom uk-h5">Slide One</h4>
                <h2 class="uk-margin-small-top uk-h1">Example Slider</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud.</p>
                <a href="#" class="uk-button uk-button-primary">Get started</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide" style="background-position: center;background-image: url('https://via.placeholder.com/1920x370');background-size: cover;background-repeat: no-repeat;">
        <div class="uk-overlay-primary uk-light uk-width-1-1">
          <div class="uk-section uk-secton-large">
            <div class="uk-container uk-container-expand uk-text-left">
              <div class="uk-width-1-2@m">
                <h4 class="uk-margin-small-bottom uk-h5">Slide Two</h4>
                <h2 class="uk-margin-small-top uk-h1">Example Slider</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud.</p>
                <a href="#" class="uk-button uk-button-primary">Get started</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
{% endblock %}

{% block contentbefore %}

  <div class="home-series-section uk-section uk-section-small uk-padding-small uk-section-muted uk-text-center">
    Content
  </div>

{% endblock %}

{% block abovefooter %}
  {% include 'above-footer-page.twig' %} 
{% endblock %}

{% block spec_scripts %}
  <!-- load in swiper-js js -->
  <script src="{{theme.link}}/assets/js/lib/swiper-bundle.min.js"></script>
  <script src="{{theme.link}}/assets/js/front.js"></script>
{% endblock %}