{% extends "base.twig" %}

{% block header %}
  <header class="uk-inline">
    <div class="header-top-nav uk-position-top uk-position-z-index">
      <div uk-sticky="animation: uk-animation-slide-top; sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; cls-inactive: uk-navbar-transparent uk-light; top: 200">
        {% include 'main-nav.twig' %}
      </div>
    </div>
    <img class="launch-cover-img hero-img" src="{{theme.link}}/assets/images/stock7.jpg" alt="">
    <div class="uk-overlay-primary uk-position-cover uk-position-cover-padded padded-outset-border">
      <div class="uk-position-center">
        <div class="uk-text-center uk-container uk-container-xsmall uk-padding">
          <h1 class="uk-margin-large-top">Lorem ipsum dolor. Duis aute irure</h1>
          <hr class="uk-divider-small">
          <p class="uk-text-emphasis uk-text-lead uk-margin-medium-bottom">Lorem ipsum dolor sit amet</p>
          <a href="#" class="uk-button uk-button-default uk-button-large">Learn more</a>
        </div>
      </div>
    </div>
  </header>
{% endblock %}

{% block contentwrap %}
  <section class="uk-section uk-section-primary">
    <div class="uk-text-center uk-container uk-container-small">
      <h2 class="uk-h3">Lorem Ipsum Dolor</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
      <a class="feature-link uk-text-uppercase" href="#">View our Competitions</a>
    </div>
  </section>
  
  <section class="content-section uk-section uk-section-large uk-section-default">
    <div class="uk-text-center uk-container uk-container-small">
      Some Competitions will go here..
    </div>
  </section>
{% endblock %}