{% extends 'single.twig' %}

{% block styles %}
{% endblock %}

{% block single_content %}
  <div class="single-content" data-template="single_protected.twig">
    <div class="rmcc-container rmcc-container-xsmall">
      {% include 'password_form.twig' %}
    </div>
  </div>
{% endblock %}

{% block single_footer %}
{% endblock %}