{# translation-ready, escaped, formatted, semantic #}
<div class="tease-price-rating uk-margin-small-bottom">
  {% if post._lottery_dates_to and not post._lottery_closed %}
    <span class="uk-form-label">{{ _x('Price of Entry:', 'Product tease', 'dream-winners')|e('esc_html') }} </span>
  {% endif %}
  {% do action('woocommerce_after_shop_loop_item_title') %}
</div>