{% extends "base.twig" %}

{% block styles %}
  {{ parent() }}
{% endblock %}

{% block main %}
  <div data-template="archive.twig">

    {% block archive_header %}
      {% include 'archive/header.twig' %}
    {% endblock %}

    {% block archive_content %}
      <div class="rmcc-section rmcc-container rmcc-container-xsmall">

        {% block blog_filters %}
          {% if configs.blog_filters and configs.blog_filters_properties.types %}
            {% include 'archive/filters.twig' %}
          {% endif %}
        {% endblock %}

        {% block archive_loop %}
          {% include 'archive/loop.twig' %}
        {% endblock %}
        
      </div>
    {% endblock %}

  </div>
{% endblock %}

{% block scripts %}
  {{ parent() }}

  {% if configs.infinite_pagination %}
    <script type='text/javascript'>
      if(document.getElementById('themePagination')){
        window.addEventListener('load', (event) => {
          archivePagination('.archive-posts', '.item', '.next', '.page-load-status', '.pagination', false, true);
        });
      }
    </script>
  {% endif %}

  {% if configs.blog_filters and configs.blog_filters_properties.types %}
    {% include 'archive/filters/scripts.twig' %}
  {% endif %}

{% endblock %}
