{% extends "base.twig" %}

{% block styles %}
  {{ parent() }}
{% endblock %}

{% block main %}
  <div data-template="archive.twig">

    {# the archive header #}
    {% block archive_header %}
      {% include 'archive_header.twig' %}
    {% endblock %}

    {# the archive content #}
    {% block archive_content %}
      <div class="rmcc-section rmcc-container rmcc-container-xsmall">

        {# the archive loop: posts (contains archive_footer) #}
        {% block archive_loop %}
          {% include 'loop.twig' %}
        {% endblock %}
        
      </div>
    {% endblock %}

  </div>
{% endblock %}

{% block scripts %}
  {{ parent() }}

  {% if configs.infinite_pagination %}
    <script type='text/javascript'>
      if(document.getElementById('themePagination')){
        window.addEventListener('load', (event) => {
          archivePagination();
        });
      }
    </script>
  {% endif %}

{% endblock %}
