{% extends "narrow-page.twig" %}

{% block thumb %}
{% endblock %}

{% block content %}
  <article id="Page-{{post.id}}" class="{{post.class}}" data-template="page-builder-page.twig">
    {% block _content %}
      <div class="single-content">
        {% include '_content.twig' %}
      </div>
    {% endblock %}
  </article>
{% endblock %}