{% extends "page.twig" %}

{% block thumb_caption %}
  {% if post.thumbnail.caption %}
    <figcaption class="uk-container uk-container-large">{{ post.thumbnail.caption }}</figcaption>
  {% endif %}
{% endblock %}

{% block content %}
  <article id="Page-{{post.id}}" class="uk-section uk-container uk-container-large {{post.class}}" data-template="wide-page.twig">
    {% block _content %}
      <section class="single-content">
        <h1 class="uk-margin-large-bottom uk-heading-small">{{post.title}}</h1>
        {% include '_content.twig' %}
      </section>
    {% endblock %}
  </article>
{% endblock %}