{% extends "base.twig" %}

{% block header %}
  <header class="uk-inline">
    <div class="header-top-nav main-nav uk-position-top uk-position-z-index">
      <div uk-sticky="animation: uk-animation-slide-top; sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; cls-inactive: uk-navbar-transparent uk-light; top: 200">
        {% include 'main-nav.twig' %}
      </div>
    </div>
    <img class="cover-img uk-height-large" src="https://picsum.photos/1920/380?random=" alt="">
    <div class="uk-overlay-primary uk-position-cover">
      <div class="uk-position-center">
        <div class="uk-text-center uk-container uk-container-xsmall">
          <h1 class="uk-margin-large-top">{{title}}</h1>
        </div>
      </div>
    </div>
  </header>
{% endblock %}

{% block contentwrap %}
  <section class="uk-section uk-section-large">
    <div class="blog-list uk-container">
      <div class="archive-posts uk-child-width-1-1 uk-grid-large" uk-grid>
        {% if posts is not empty %}
          {% for post in posts %}
            {% include 'tease.twig' %}
          {% endfor %}
        {% else %}
          No posts found...
        {% endif %}
      </div>
    </div>
    {% if (pagination.next or pagination.prev) %}
      <div class="uk-margin-xlarge-top">
        {% include 'pagination.twig' %}
      </div>
    {% endif %}
  </section>
{% endblock %}