//
// BACKGROUNDS
//

// custom
.theme-primary-bg {
  background-color: $theme_primary;
}
.theme-muted-primary-bg {
  background-color: $theme_grey_primary;
}
.theme-primary-bg-dark {
  background-color: $theme_dark_primary;
}
.theme-dark-bg {
  background: $theme_black;
}

// UIKIT EXTENDS utilities

//
// OVERLAYS
//

// custom overlay using psuedo. use additional background-colour to add the actual overlay
.overlay-wrap:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: auto;
}

// a psuedo hover-effect overlay - default style
.primary-overlay-hover:after,
.default-overlay-hover:after {
  background-color: none;
  transition: .5s ease;
}
.primary-overlay-hover:hover:after {
  background-color: $overlay-primary-background;
}
.default-overlay-hover:hover:after {
  background-color: $overlay-default-background;
}

// custom pseudo overlays - works with above
.primary-overlay:after {
  background-color: $overlay-primary-background;
}
.default-overlay:after {
  background-color: $overlay-default-background;
}

// custom overlay bg classes with fades - modify rmcc-overlay-default classes etc....
.rmcc-overlay-faint {
  background: $theme_faint_black_overlay;
}
.rmcc-overlay-medium {
  background: $theme_medium_black_overlay;
}
.rmcc-overlay-greypurple {
  background: $theme_grey_primary_overlay;
}

/* blue primary dark: #27a5fe */
/* blue primary light: #02bffb */
/* navy secondary dark: #0b2b52 */
/* navy secondary light: #0c305e */
/* green dark: #3ecc8c */
/* green light: #58e09f */
/* purple dark: #ab42c4 */
/* purple light: #c65fdf */
/* pink dark: #fd3d96 */
/* pink light: #fc77a5 */
/* orange dark: #ef9b3c */
/* orange light: #fda43d */
/* yellow dark: #fec142 */
/* yellow light: #fdf056 */

//
// BASE BACKGROUNDS
//

/*
sections,badges,card-badges (prop: background)
*/

/* blue,primary */
.rmcc-section-primary, 
.rmcc-badge,
.rmcc-card-badge {
  background: #02bffb!important;
}
.rmcc-section-primary.darken, 
.rmcc-badge.darken,
.rmcc-card-badge.darken {
  background: #27a5fe!important;
}
/* navy,secondary */
.rmcc-section-secondary,
.rmcc-badge-secondary,
.rmcc-card-badge-secondary {
  background: #0c305e!important;
}
.rmcc-section-secondary.darken,
.rmcc-badge-secondary.darken,
.rmcc-card-badge-secondary.darken {
  background: #0b2b52!important;
}

/*
background,card,tile,button (prop: background-color)
*/

/* blue,primary */
.rmcc-background-primary,
.rmcc-card-primary,
.rmcc-tile-primary,
.rmcc-subnav-pill>.rmcc-active>a,
.rmcc-button-primary {
  background-color: #02bffb!important;
}
.rmcc-background-primary.darken,
.rmcc-card-primary:hover,
.rmcc-tile-primary.darken,
.rmcc-button-primary:hover {
  background-color: #27a5fe!important;
}
/* navy,secondary */
.rmcc-background-secondary,
.rmcc-card-secondary,
.rmcc-tile-secondary,
.rmcc-button-secondary {
  background-color: #0c305e!important;
}
.rmcc-background-secondary.darken,
.rmcc-card-secondary:hover,
.rmcc-card-secondary.darken,
.rmcc-tile-secondary.darken,
.rmcc-button-secondary.darken {
  background-color: #0b2b52!important;
}

/*
hover cards with no default/primary/secondary (prop: background-color)
*/

.rmcc-card-hover:not(.rmcc-card-default):not(.rmcc-card-primary):not(.rmcc-card-secondary):hover {
  background-color: transparent;
  box-shadow: none;
}

//
// MORE OVERLAYS
// overlay (prop: background)
//

.rmcc-overlay-primary.rmcc-overlay-navy {
  background: rgba(12, 48, 94, .8);
}
.rmcc-overlay-primary.rmcc-overlay-blue {
  background: rgba(2, 191, 251, .8);
}
.rmcc-overlay-primary.rmcc-overlay-green {
  background: rgba(88, 224, 159, .8);
}
.rmcc-overlay-primary.rmcc-overlay-purple {
  background: rgba(198, 95, 223, .8);
}
.rmcc-overlay-primary.rmcc-overlay-pink {
  background: rgba(252, 119, 165, .8);
}
.rmcc-overlay-primary.rmcc-overlay-orange {
  background: rgba(253, 164, 61, .8);
}
.rmcc-overlay-primary.rmcc-overlay-yellow {
  background: rgba(253, 240, 86, .8);
}
.rmcc-overlay-primary.rmcc-overlay-navy.darken {
  background: rgba(11, 43, 82, .8);
}
.rmcc-overlay-primary.rmcc-overlay-blue.darken {
  background: rgba(39, 165, 254, .8);
}
.rmcc-overlay-primary.rmcc-overlay-green.darken {
  background: rgba(62, 204, 140, .8);
}
.rmcc-overlay-primary.rmcc-overlay-purple.darken {
  background: rgba(171, 66, 196, .8);
}
.rmcc-overlay-primary.rmcc-overlay-pink.darken {
  background: rgba(253, 61, 150, .8);
}
.rmcc-overlay-primary.rmcc-overlay-orange.darken {
  background: rgba(239, 155, 60, .8);
}
.rmcc-overlay-primary.rmcc-overlay-yellow.darken {
  background: rgba(254, 193, 66, .8);
}
.rmcc-overlay-default.rmcc-overlay-navy {
  background: rgba(12, 48, 94, .8);
}
.rmcc-overlay-default.rmcc-overlay-blue {
  background: rgba(2, 191, 251, .8);
}
.rmcc-overlay-default.rmcc-overlay-green {
  background: rgba(88, 224, 159, .8);
}
.rmcc-overlay-default.rmcc-overlay-purple {
  background: rgba(198, 95, 223, .8);
}
.rmcc-overlay-default.rmcc-overlay-pink {
  background: rgba(252, 119, 165, .8);
}
.rmcc-overlay-default.rmcc-overlay-orange {
  background: rgba(253, 164, 61, .8);
}
.rmcc-overlay-default.rmcc-overlay-yellow {
  background: rgba(253, 240, 86, .8);
}
.rmcc-overlay-default.rmcc-overlay-navy.darken {
  background: rgba(11, 43, 82, .8);
}
.rmcc-overlay-default.rmcc-overlay-blue.darken {
  background: rgba(39, 165, 254, .8);
}
.rmcc-overlay-default.rmcc-overlay-green.darken {
  background: rgba(62, 204, 140, .8);
}
.rmcc-overlay-default.rmcc-overlay-purple.darken {
  background: rgba(171, 66, 196, .8);
}
.rmcc-overlay-default.rmcc-overlay-pink.darken {
  background: rgba(253, 61, 150, .8);
}
.rmcc-overlay-default.rmcc-overlay-orange.darken {
  background: rgba(239, 155, 60, .8);
}
.rmcc-overlay-default.rmcc-overlay-yellow.darken {
  background: rgba(254, 193, 66, .8);
}

//
// MORE BACKGROUNDS
// sections,badges,card-badges (prop: background)
//

/* blue,primary */
.rmcc-section-default.rmcc-section-blue {
  background: #02bffb!important;
}
.rmcc-section-default.rmcc-section-blue.darken {
  background: #27a5fe!important;
}
/* green */
.rmcc-section-default.rmcc-section-green, 
.rmcc-section-primary.rmcc-section-green,
.rmcc-badge-green,
.rmcc-card-badge-green {
  background: #58e09f!important;
}
.rmcc-section-default.rmcc-section-green.darken, 
.rmcc-section-primary.rmcc-section-green.darken,
.rmcc-badge-green.darken,
.rmcc-card-badge-green.darken {
  background: #3ecc8c!important;
}
/* purple */
.rmcc-section-default.rmcc-section-purple,
.rmcc-section-primary.rmcc-section-purple,
.rmcc-badge-purple,
.rmcc-card-badge-purple {
  background: #c65fdf!important;
}
.rmcc-section-default.rmcc-section-purple.darken, 
.rmcc-section-primary.rmcc-section-purple.darken,
.rmcc-badge-purple.darken,
.rmcc-card-badge-purple.darken {
  background: #ab42c4!important;
}
/* pink */
.rmcc-section-default.rmcc-section-pink,
.rmcc-section-primary.rmcc-section-pink,
.rmcc-badge-pink,
.rmcc-card-badge-pink {
  background: #fc77a5!important;
}
.rmcc-section-default.rmcc-section-pink.darken, 
.rmcc-section-primary.rmcc-section-pink.darken,
.rmcc-badge-pink.darken,
.rmcc-card-badge-pink.darken {
  background: #fd3d96!important;
}
/* orange */
.rmcc-section-default.rmcc-section-orange,
.rmcc-section-primary.rmcc-section-orange,
.rmcc-badge-orange,
.rmcc-card-badge-orange {
  background: #fda43d!important;
}
.rmcc-section-default.rmcc-section-orange.darken,
.rmcc-section-primary.rmcc-section-orange.darken,
.rmcc-badge-orange.darken,
.rmcc-card-badge-orange.darken {
  background: #ef9b3c!important;
}
/* yellow */
.rmcc-section-default.rmcc-section-yellow,
.rmcc-section-primary.rmcc-section-yellow,
.rmcc-badge-yellow,
.rmcc-card-badge-yellow {
  background: #fdf056!important;
}
.rmcc-section-default.rmcc-section-yellow.darken, 
.rmcc-section-primary.rmcc-section-yellow.darken,
.rmcc-badge-yellow.darken,
.rmcc-card-badge-yellow.darken {
  background: #fec142!important;
}

//
// MORE BACKGROUNDS
// background,card,tile,button (prop: background-color)
//

/* blue,primary */
.rmcc-background-default.rmcc-background-blue,
.rmcc-card-default.rmcc-card-blue, .rmcc-card-blue,
.rmcc-tile-default.rmcc-tile-blue, .rmcc-tile-blue {
  background-color: #02bffb!important;
}
.rmcc-background-default.rmcc-background-blue.darken,
.rmcc-card-default.rmcc-card-blue:hover, .rmcc-card-blue:hover,
.rmcc-tile-default.rmcc-tile-blue.darken, .rmcc-tile-blue.darken {
  background-color: #27a5fe!important;
}
/* green */
.rmcc-background-default.rmcc-background-green, .rmcc-background-primary.rmcc-background-green,
.rmcc-card-default.rmcc-card-green, .rmcc-card-primary.rmcc-card-green, .rmcc-card-green,
.rmcc-tile-default.rmcc-tile-green, .rmcc-tile-primary.rmcc-tile-green, .rmcc-tile-green,
.rmcc-button-green {
  background-color: #58e09f!important;
}
.rmcc-background-default.rmcc-background-green.darken, .rmcc-background-primary.rmcc-background-green.darken,
.rmcc-card-default.rmcc-card-green:hover, .rmcc-card-primary.rmcc-card-green:hover, .rmcc-card-green:hover,
.rmcc-tile-default.rmcc-tile-green.darken, .rmcc-tile-primary.rmcc-tile-green.darken, .rmcc-tile-green.darken,
.rmcc-button-green:hover {
  background-color: #3ecc8c!important;
}
/* purple */
.rmcc-background-default.rmcc-background-purple, .rmcc-background-primary.rmcc-background-purple,
.rmcc-card-default.rmcc-card-purple, .rmcc-card-primary.rmcc-card-purple, .rmcc-card-purple,
.rmcc-tile-default.rmcc-tile-purple, .rmcc-tile-primary.rmcc-tile-purple, .rmcc-tile-purple,
.rmcc-button-purple {
  background-color: #c65fdf!important;
}
.rmcc-background-default.rmcc-background-purple.darken, .rmcc-background-primary.rmcc-background-purple.darken,
.rmcc-card-default.rmcc-card-purple:hover, .rmcc-card-primary.rmcc-card-purple:hover, .rmcc-card-purple:hover,
.rmcc-tile-default.rmcc-tile-purple.darken, .rmcc-tile-primary.rmcc-tile-purple.darken, .rmcc-tile-purple.darken,
.rmcc-button-purple:hover {
  background-color: #ab42c4!important;
}
/* pink */
.rmcc-background-default.rmcc-background-pink, .rmcc-background-primary.rmcc-background-pink,
.rmcc-card-default.rmcc-card-pink,.rmcc-card-primary.rmcc-card-pink, .rmcc-card-pink,
.rmcc-tile-default.rmcc-tile-pink, .rmcc-tile-primary.rmcc-tile-pink, .rmcc-tile-pink,
.rmcc-button-pink {
  background-color: #fc77a5!important;
}
.rmcc-background-default.rmcc-background-pink.darken, .rmcc-background-primary.rmcc-background-pink.darken,
.rmcc-card-default.rmcc-card-pink:hover, .rmcc-card-primary.rmcc-card-pink:hover, .rmcc-card-pink:hover,
.rmcc-tile-default.rmcc-tile-pink.darken, .rmcc-tile-primary.rmcc-tile-pink.darken, .rmcc-tile-pink.darken,
.rmcc-button-pink:hover {
  background-color: #fd3d96!important;
}
/* orange */
.rmcc-background-default.rmcc-background-orange, .rmcc-background-primary.rmcc-background-orange,
.rmcc-card-default.rmcc-card-orange, .rmcc-card-primary.rmcc-card-orange, .rmcc-card-orange,
.rmcc-tile-default.rmcc-tile-orange, .rmcc-tile-primary.rmcc-tile-orange, .rmcc-tile-orange ,
.rmcc-button-orange {
  background-color: #fda43d!important;
}
.rmcc-background-default.rmcc-background-orange.darken, .rmcc-background-primary.rmcc-background-orange.darken,
.rmcc-card-default.rmcc-card-orange:hover, .rmcc-card-primary.rmcc-card-orange:hover, .rmcc-card-orange:hover,
.rmcc-tile-default.rmcc-tile-orange.darken, .rmcc-tile-primary.rmcc-tile-orange.darken, .rmcc-tile-orange.darken,
.rmcc-button-orange:hover {
  background-color: #ef9b3c!important;
}
/* yellow */
.rmcc-background-default.rmcc-background-yellow, .rmcc-background-primary.rmcc-background-yellow,
.rmcc-card-default.rmcc-card-yellow, .rmcc-card-primary.rmcc-card-yellow, .rmcc-card-yellow,
.rmcc-tile-default.rmcc-tile-yellow, .rmcc-tile-primary.rmcc-tile-yellow, .rmcc-tile-yellow,
.rmcc-button-yellow {
  background-color: #fdf056!important;
}
.rmcc-background-default.rmcc-background-yellow.darken, .rmcc-background-primary.rmcc-background-yellow.darken,
.rmcc-card-default.rmcc-card-yellow:hover, .rmcc-card-primary.rmcc-card-yellow:hover, .rmcc-card-yellow:hover,
.rmcc-tile-default.rmcc-tile-yellow.darken, .rmcc-tile-primary.rmcc-tile-yellow.darken, .rmcc-tile-yellow.darken,
.rmcc-button-yellow:hover {
  background-color: #fec142!important;
}