/* general tweaks */
.article-content-editor {
  /* font-size: 1.3rem; */
}
.article-featured-media figcaption {
  font-size: .875rem;
}
figure.article-featured-media {
  margin: 0;
}

/* half & half: only works when muted bg is applied to article element (on default headers) */
.uk-background-muted .article-featured-media::before {
  background: #fff;
  content: "";
  display: block;
  position: absolute;
  bottom: 50%;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
}
.uk-background-muted .article-header {
  z-index:2;
}
.uk-background-muted .article-featured-media img {
  z-index:1;
}