<div class="rmcc-background-muted rmcc-padding-small">
  <ul class="rmcc-flex rmcc-flex-middle rmcc-flex-center rmcc-child-width-auto rmcc-grid-small" rmcc-grid>

    <li class="live-search-form-submit">
      <input type="submit" value="Apply" class="rmcc-button rmcc-button-primary rmcc-border-rounded">
    </li>

    <li class="live-search-form-reset">
      <input type="reset" value="Clear" class="rmcc-button rmcc-button-default rmcc-border-rounded">
    </li>

  </ul>
</div>