<ul class="rmcc-navbar-nav rmcc-navbar-nav-primary">

  {# search popup toggle #}
  <li class="search-icon">
    <a id="CloseSearchNav" class="rmcc-navbar-toggle" rmcc-search-icon rmcc-toggle="target: .nav-overlay; animation: rmcc-animation-fade" href="#"></a>
  </li>

  {# mobile menu toggle #}
  {% if has_menu_main %}
    <li class="rmcc-hidden@m">
      <a class="rmcc-navbar-toggle rmcc-navbar-toggle-animate rmcc-icon rmcc-navbar-toggle-icon" href="#" rmcc-navbar-toggle-icon rmcc-toggle="target: #SlideInMenuLeft"></a>
    </li>
  {% endif %}

</ul>