<header class="site-header rmcc-background-muted" data-template="header.twig">
  <nav class="rmcc-navbar-container rmcc-navbar-transparent">
    <div class="rmcc-container">
      <div class="rmcc-navbar" rmcc-navbar>

        <div class="rmcc-navbar-left nav-overlay">
          {% include '_nav-left.twig' %}
        </div>

        <div class="rmcc-navbar-center nav-overlay">
          {% include '_nav-center.twig' %}
        </div>

        <div class="rmcc-navbar-right nav-overlay">
          {% include '_nav-right.twig' %}
        </div>

        <div class="nav-overlay rmcc-navbar-left rmcc-flex-1" hidden>
          {% include '_nav-overlay.twig' %}
        </div>

      </div>
    </div>
  </nav>
</header>

{% if has_menu_main %}
  {% include '_nav-offcanvas.twig' %}
{% endif %}