<nav id="SlideInMenuLeft" class="mobile-slide-navbar" rmcc-offcanvas="mode: slide; overlay: true">
  <div class="rmcc-offcanvas-bar rmcc-offcanvas-bar-animation rmcc-offcanvas-slide rmcc-padding-small">

    {# mobile menu nav #}
    <ul class="rmcc-nav-default rmcc-nav-parent-icon" rmcc-nav="multiple: true">
      {% if fn('has_nav_menu', 'main_menu') %}

        {# mobile menu title #}
        <li class="rmcc-nav-header rmcc-padding-remove rmcc-margin-small-bottom rmcc-text-capitalize">
          {{ menu_main.title|e('esc_html') }}
          <a class="rmcc-offcanvas-close rmcc-position-top-right rmcc-position-small rmcc-padding-remove">
            <span rmcc-icon="icon: close; ratio: .9"></span>
          </a>
        </li>

        <li class="rmcc-nav-divider"></li>

        {% include 'header/menu-main-mobile.twig' %}

      {% endif %}
    </ul>

    {# mobile menu credits & copyrights #}
    <div class="rmcc-position-bottom rmcc-position-small">
      <p class="rmcc-text-center rmcc-text-small rmcc-margin-remove">
        {{ _x('© All Rights Reserved %s', 'Footer: copyright', 'rmcc-theme')|format(now|date('Y'))|e('esc_html') }} - <a href="{{ site.link|e('esc_url') }}">{{ site.title|e('esc_html') }}</a>
        <br>
        Made by <a href="https://github.com/robmccormack89/" target="_blank">robmccormack89 <span rmcc-icon="icon: github"></span></a>
      </p>
    </div>

  </div>
</nav>