<div class="rmcc-navbar-item rmcc-width-expand">
  <form 
  id="form_validate_search" 
  class="form_search_main rmcc-search rmcc-search-navbar rmcc-width-1-1 rmcc-position-relative rmcc-inline rmcc-flex rmcc-flex-center" 
  role="search" method="get" action="{{ site.url|e('esc_url') }}" accept-charset="utf-8" novalidate="novalidate">
    <div class="rmcc-width-1-1 rmcc-position-relative">

      {# animated spinner #}
      {% if configs.live_search %}
        <div id="loaderSearchToggle" class="rmcc-position-bottom-left" style="display:none;">
          <div id="loaderSearch"></div>
        </div>
      {% endif %}

      {# reset close button #}
      {% if configs.live_search %}
        <button id="LiveSearchReset" type="reset" class="rmcc-search-icon-flip rmcc-icon rmcc-search-icon" style="display:none;">
          <span rmcc-icon="icon: refresh; ratio: 1"></span>
        </button>
      {% endif %}

      <input 
      id="input_search" 
      class="rmcc-search-input" 
      type="text" 
      name="s" 
      maxlength="300" 
      pattern=".*\S+.*" 
      placeholder="{{ configs.live_search ? _x('Start typing...', 'Search: form', 'rmcc-theme')|e('esc_html') : _x('Start typing & press enter...', 'Search: form', 'rmcc-theme')|e('esc_html') }}" 
      autocomplete="off" 
      value
      required />
      <input type="hidden" name="post_type" value="post" />
    </div>

    {# the results will go here via ajax #}
    {% if configs.live_search %}
      <div id="response_search_results" class="search-results-ajax rmcc-height-max-medium rmcc-overflow-auto"></div>
    {% endif %}

  </form>
</div>
<a class="rmcc-navbar-toggle" rmcc-close rmcc-toggle="target: .nav-search; animation: rmcc-animation-fade" href="#"></a>