<footer class="site-footer rmcc-background-muted" data-template="footer.twig">
  <div class="rmcc-container rmcc-padding">

    {# footer socials/icon nav #}
    {% include 'footer/menu-iconnav.twig' %}

    {# footer scroll to top button #}
    <div class="rmcc-flex rmcc-flex-center rmcc-margin">
      <a href="#" rmcc-totop rmcc-scroll rmcc-tooltip="{{ _x('Scroll to Top', 'Footer: to top', 'rmcc-theme')|e('esc_html') }}"></a>
    </div>

    {# footer copyrights & credits #}
    {% include 'footer/footer-copyright.twig' %}

  </div>
</footer>