<form class="search-form rmcc-width-large" role="search" action="{{ site.url|e('esc_url') }}" method="get" data-template="_search-form.twig">
  <ul class="rmcc-grid-collapse rmcc-flex rmcc-flex-middle" rmcc-grid>

    {# search input & hidden post_type = 'post' input #}
    <li class="search-form-input rmcc-width-expand">
      <input 
      class="password-box rmcc-input" 
      name="s" 
      id="404-search" 
      type="search" 
      placeholder="{{ _x('Start typing...', 'Search: form', 'rmcc-theme')|e('esc_html') }}" 
      size="20" 
      required 
      maxlength="100" 
      pattern=".*\S+.*" 
      autocomplete="off" />

      {# hidden input adds post_type=post to the query_vars when doing a search #}
      <input type="hidden" name="post_type" value="post" />
    </li>

    {# submit button #}
    <li class="search-form-button rmcc-width-auto">
      <input class="password-btn rmcc-button rmcc-button-primary" type="submit" value="{{ _x('Search', 'Search: form', 'rmcc-theme')|e('esc_html') }}" />
    </li>

  </div>
</form>