{% extends "image-page.twig" %}

{% block contentwrap %}
  <article id="Page-{{post.id|e('esc_html')}}" class="uk-section {{post.class|e('esc_html')}}">
    <div class="single-content uk-container uk-container-xsmall">
      {% if fn('is_user_logged_in') %}
        {{post.content}}
      {% else %}
        Sorry, this content is password protected for members only. If you are a customer & wish to have access to our resources area, please contact one of our service team via our <a href="/contact">contact</a> page.
      {% endif %}
    </div>
  </article>
{% endblock %}