/*
* 
* Notices & Messages
*
*/

/* .uk-section>.woocommerce-message, .woocommerce-message {
  display: none;
} */
.woocommerce-message {
  background-color: #eee;
  padding: 5px;
  margin-bottom: 15px;
}
.woocommerce-info {
  margin-bottom: 20px;
}

/*
* 
* Product Tabs
*
*/

.tab-content {
  margin-left: 30px;
}
@media (max-width: 959px){
  .tab-content {
    margin: 20px 0 0;
  }
}

/* .uk-tab>*>a {
  font-size: 1rem;
  text-transform: capitalize;
}
.comment-form-rating {
  margin-top: 20px;
} */

/*
* 
* Competition 
*
*/

/* countdown timer padding top & bottom */
.lottery-ajax-change {
  padding-bottom: 15px;
  margin-top: 10px;
}

/* ticket tab bar styling */
.ticket-tab-bar .ticket-tab-bar-item {
  padding: 10px 25px;
  font-weight: 700;
  opacity: 0.5;
  text-transform: capitalize;
  color: #008ce1;
}

/* ticket numbers */
ul.tickets_numbers {
  margin: 1em 0 1em -4px;
  padding: 0;
}
ul.tickets_numbers li.tn {
  border: 3px #b39292;
  border-style: dashed;
  border-radius: 0;
  background-color: #e0a9a9;
  color: #ffffff;
  padding: .8em;
  width: 2rem;
  height: auto;
  text-align: center;
  margin: 2px;
  font-size: 0.875rem;
  font-weight: 700;
}
ul.tickets_numbers li.selected, ul.lottery-pn-answers li.selected {
  background: #4caf50 !important;
}
ul.lottery-pn-answers li.selected.false {
  background: #d26c6c !important;
}

/* comp answers */
ul.lottery-pn-answers {
  padding: 0;
}
ul.lottery-pn-answers li {
  border: 3px #d6d6d6;
  border-style: double;
  border-radius: 0;
  padding: 7px 22px;
  width: fit-content;
  color: #008ce1;
  margin: 0 6px 0 0;
  font-size: 1em;
  font-weight: 700;
  display: inline-block;
}
ul.tickets_numbers li.selected, ul.lottery-pn-answers li.selected, ul.lottery-pn-answers li.selected.false {
  color: #fff;
  border: 3px solid #fff!important;
}
ul.tickets_numbers li.in_cart {
  background: #d4d4d4bd!important;
  border-style: solid!important;
  border-color: #c7c7c74f!important;
  border-width: 3px!important;
  color: #a2a2a2!important;
  cursor: not-allowed;
}
.is-wc_lotery_countdown {
  color: #008ce1;
  font-weight: 700;
  margin-top: 5px;
}

/* anwsers dropdown option styling */
#lottery_answer_drop {
  width: 100%;
  padding: 0 20px 0 10px;
}

/* .lottery-time {
  margin-top: -40px;
} */
/* .is-wc_lotery_countdown {
  margin-top: 30px;
} */
/* ul.tickets_numbers li.tn {
  border: 1px #ffffff;
  background-color: #008ce1;
  color: #ffffff;
  border-style: dashed;
  border-radius: 0;
  padding: .8em;
  width: 2rem;
  height: auto;
  text-align: center;
  margin: 0px;
  font-size: 0.875rem;
  font-weight: 700;
} */

/*
* 
* lightslider 
*
*/

.lSAction>a {
  border-radius: 100%;
}
.lSSlideOuter .lSPager.lSGallery li img {
  transition: width 2s;
}
.lSSlideOuter .lSPager.lSGallery li.active img,
.lSSlideOuter .lSPager.lSGallery li:hover img {
  border: 5px solid #f9f9f9;
}

/*
* 
* Price 
*
*/

.product-details bdi {
  font-size: 1.5rem;
  font-weight: 700;
}
.price {
  position: relative;
  width: fit-content;
}
bdi {
  color: #008ce1;
}
ins, mark {
  background: #fff0;
  color: #1c1d1d;
}
del ins {
  position: absolute;
  left: 0;
}
del bdi {
  opacity: 0.5;
  text-decoration: line-through;
  position: absolute;
  left: calc(100% + 10px);
}
.woocommerce-variation-price {
  margin-bottom: 20px;
}

/*
* 
* Swiper js
*
*/

/* :root {
  --swiper-theme-color: #fc4c0287;
}
.swiper-container {
  width: 100%;
  height: 100%;
}
#slideshow_related, #slideshow_upsells {
  margin-bottom: -25px;
}
#slideshow_related .swiper-wrapper, #slideshow_upsells .swiper-wrapper {
  padding-bottom: 30px;
}
#slideshow_related .swiper-pagination, #slideshow_upsells .swiper-pagination {
  z-index: 99999;
  bottom: 16px!important;
} */

/*
* 
* Product meta 
*
*/

.product_meta {
  margin-top: 20px;
  margin-bottom: 20px;
}
span.posted_in {
  display: block;
}
span.tagged_as {
  display: block;
}
span.sku_wrapper {
  display: block;
}

/*
* 
* Onsale badge/label positioning
*
*/

.onsale.uk-card-badge {
  top: 15px;
  left: 55px;
  right: auto;
}
.custom-title-price-excerpt .onsale.uk-card-badge {
  position: initial;
  right: auto;
  left: auto;
  top: auto;
  bottom: auto;
  margin-bottom: 10px;
  z-index: 1;
}

/* #RelatedGrid span.onsale.uk-card-badge.uk-label,
#UpsellsGrid span.onsale.uk-card-badge.uk-label {
  left: 15px;
} */

/*
* 
* Product images
*
*/

/* .woocommerce #content div.product div.images,
.woocommerce-page #content div.product div.images,
.woocommerce-page div.product div.images,
.woocommerce div.product div.images {
  width: 100%;
}

img.single-product-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
} */

/*
* 
* Iframes fix
*
*/

/* iframe {
  max-width: 100%;
} */

/*
* 
* Add to cart Button/s
*
*/

.reset_variations {
  position: absolute;
  right: 15px;
  bottom: -20px;
}
.single_add_to_cart_button {
  display: inline-block;
}
.quantity {
  width: fit-content;
  display: inline-block;
}