/*
* 
* Competition 
*
*/

/* countdown timer padding top & bottom */
.lottery-ajax-change {
  padding-bottom: 15px;
  margin-top: 10px;
}
/* ticket tab bar styling */
.ticket-tab-bar .ticket-tab-bar-item {
  padding: 10px 25px;
  font-weight: 700;
  opacity: 0.5;
  text-transform: capitalize;
  background-color: #261237;
  color: #fff;
}
/* ticket numbers */
ul.tickets_numbers {
  margin: 1em 0 1em -4px;
  padding: 0;
}
/* style one: solid colour bg with dotted border */
/* ul.tickets_numbers li.tn {
  border: 1px #ffffff;
  background-color: #261237;
  color: #ffffff;
  border-style: dashed;
  border-radius: 0;
  padding: .8em;
  width: 2rem;
  height: auto;
  text-align: center;
  margin: 0px;
  font-size: 0.875rem;
  font-weight: 700;
} */
/* style two: white bg with double border */
ul.tickets_numbers li.tn {
  border: 3px #d6d6d6;
  border-style: double;
  border-radius: 0;
  background-color: #ffffff;
  color: #261237;
  padding: .8em;
  width: 2rem;
  height: auto;
  text-align: center;
  margin: 2px;
  font-size: 0.875rem;
  font-weight: 700;
}
ul.tickets_numbers li.selected, ul.lottery-pn-answers li.selected {
  background: #4caf50 !important;
}
ul.lottery-pn-answers li.selected.false {
  background: #d26c6c !important;
}
/* comp answers */
ul.lottery-pn-answers {
  padding: 0;
}
ul.lottery-pn-answers li {
  border: 3px #d6d6d6;
  border-style: double;
  border-radius: 0;
  padding: 7px 22px;
  width: fit-content;
  color: #261237;
  margin: 0 6px 0 0;
  font-size: 1em;
  font-weight: 700;
  display: inline-block;
}
ul.tickets_numbers li.selected, ul.lottery-pn-answers li.selected, ul.lottery-pn-answers li.selected.false {
  color: #fff;
  border: 3px solid #fff!important;
}
.is-wc_lotery_countdown {
  color: #261237;
  font-weight: 700;
  margin-top: 5px;
}

/*
* 
* lightslider 
*
*/

.lSAction>a {
  border-radius: 100%;
}
.lSSlideOuter .lSPager.lSGallery li img {
  transition: width 2s;
}
.lSSlideOuter .lSPager.lSGallery li.active img,
.lSSlideOuter .lSPager.lSGallery li:hover img {
  border: 5px solid #f9f9f9;
}

/*
* 
* Price 
*
*/

.product-right bdi {
  font-size: 1.5rem;
  font-weight: 700;
}
.price {
  position: relative;
  width: fit-content;
}
bdi {
  color: #261237;
}
ins, mark {
  background: #fff0;
  color: #1c1d1d;
}
del ins {
  position: absolute;
  left: 0;
}
del bdi {
  opacity: 0.5;
  text-decoration: line-through;
  position: absolute;
  left: calc(100% + 10px);
}
.woocommerce-variation-price {
  margin-bottom: 20px;
}

/* swiper stylings */
/* :root {
  --swiper-theme-color: #fc4c0287;
}
.swiper-container {
  width: 100%;
  height: 100%;
}
#slideshow_related, #slideshow_upsells {
  margin-bottom: -25px;
}
#slideshow_related .swiper-wrapper, #slideshow_upsells .swiper-wrapper {
  padding-bottom: 30px;
}
#slideshow_related .swiper-pagination, #slideshow_upsells .swiper-pagination {
  z-index: 99999;
  bottom: 16px!important;
} */

/*
* 
* Product meta 
*
*/

.product_meta {
  margin-top: 20px;
  margin-bottom: 20px;
}
span.posted_in {
  display: block;
}
span.tagged_as {
  display: block;
}
span.sku_wrapper {
  display: block;
}

/*
* 
* Onsale badge/label positioning
*
*/

.onsale.uk-card-badge {
  top: 15px;
  left: 55px;
  right: auto;
}

/* #RelatedGrid span.onsale.uk-card-badge.uk-label,
#UpsellsGrid span.onsale.uk-card-badge.uk-label {
  left: 15px;
} */

/* product images */
/* .woocommerce #content div.product div.images,
.woocommerce-page #content div.product div.images,
.woocommerce-page div.product div.images,
.woocommerce div.product div.images {
  width: 100%;
} */
/* img.single-product-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
} */

/* iframe fix */
/* iframe {
  max-width: 100%;
} */

/*
* 
* Add to cart Button/s
*
*/

.reset_variations {
  position: absolute;
  right: 15px;
  bottom: -20px;
}
.single_add_to_cart_button {
  display: inline-block;
}
.quantity {
  width: fit-content;
  display: inline-block;
}

/* product tabs styles */
/* .uk-tab>*>a {
  font-size: 1rem;
  text-transform: capitalize;
}
.comment-form-rating {
  margin-top: 20px;
} */