img.single-product-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.product-right bdi {
    font-size: 1.5rem;
    font-weight: 700;
}

/* lottery */
.lottery-ajax-change {
    padding-bottom: 15px;
    margin-top: 20px;
}
.ticket-tab-bar .ticket-tab-bar-item {
    padding: 8px 16px;
    font-weight: 800;
    opacity: 0.5;
}
ul.lottery-pn-answers {
    padding: 0;
}
ul.tickets_numbers {
    margin: 1em 0 1em -4px;
    padding: 0;
}
ul.tickets_numbers li.tn {
    border: 1px solid #e5e5e5;
    padding: .5em;
    width: 50px;
    height: auto;
    text-align: center;
    margin: 0.3em;
    font-size: 1em;
    font-weight: 700;
}
ul.lottery-pn-answers li {
    border: 1px solid #e5e5e5;
    padding: 0.8em;
    width: 90%;
    margin: 0 0 5px 0;
    font-size: 1em;
    font-weight: 700;
}
ul.tickets_numbers li.selected, ul.lottery-pn-answers li.selected, ul.lottery-pn-answers li.selected.false {
    color: #fff;
}

.is-wc_lotery_countdown {
    color: #fc4c02;
}

/* general swiper css */
.swiper-container {
  width: 100%;
  height: 100%;
}
:root {
  --swiper-theme-color: #fc4c0287;
}
#slideshow_related, #slideshow_upsells {
  margin-bottom: -25px;
}
#slideshow_related .swiper-wrapper, #slideshow_upsells .swiper-wrapper {
  padding-bottom: 30px;
}
#slideshow_related .swiper-pagination, #slideshow_upsells .swiper-pagination {
  z-index: 99999;
  bottom: 16px!important;
}


span.sku_wrapper {
    display: block;
}
span.posted_in {
    display: block;
}
span.tagged_as {
    display: block;
}
.onsale.uk-card-badge {
  top: 15px;
  left: 55px;
  right: auto;
}
.woocommerce #content div.product div.images,
.woocommerce-page #content div.product div.images,
.woocommerce-page div.product div.images,
.woocommerce div.product div.images {
  width: 100%;
}
.product_meta {
  margin-top: 20px;
  margin-bottom: 20px;
}
.reset_variations {
  position: absolute;
  right: 15px;
  bottom: -20px;
}
.single_add_to_cart_button {
  display: inline-block;
}
.quantity {
  width: fit-content;
  display: inline-block;
}
.pswp__caption__center {
  text-align: center;
  font-size: 14px;
  padding: 10px;
  line-height: 20px;
  color: #ccc;
}
.woocommerce-variation-price {
  margin-bottom: 20px;
}
.comment-form-rating {
  margin-top: 20px;
}
#RelatedGrid span.onsale.uk-card-badge.uk-label,
#UpsellsGrid span.onsale.uk-card-badge.uk-label {
  left: 15px;
}
.uk-tab>*>a {
  font-size: 1rem;
  text-transform: capitalize;
}