{% block block_styles %}
{% endblock %}

<div {{block.controls.img.wrapper}}>
  <div {{block.controls.preview.wrapper}}>
    <div class="rmcc-card rmcc-card-body {{block.controls.bg_class}} {{block.controls.fullheight_class}}">
      {% block block_content %}
        Nothing here....
      {% endblock %}
    </div>
  </div>
</div>

{% block block_scripts %}
{% endblock %}