<div {{block.controls.img.wrap}}>
  <div {{block.controls.preview.wrap}}>
    <style>
      .rmcc-card.rmcc-height-viewport {
        height: 100vh;
      }
      .rmcc-card .rmcc-width-1-1.rmcc-inline {
        min-height: 100%;
      }
    </style>
    <div {{block.controls.inner.wrap}}>
      <div class="rmcc-width-1-1 rmcc-inline">
        <div {{block.controls.position.wrap}}>
          {% block block_content %}
            Nothing here....
          {% endblock %}
        </div>
      </div>
    </div>
  </div>
</div>