{% if fn('has_nav_menu', 'iconnav_menu') %}

  {# socials/icon nav: title #}
  <h4 class="rmcc-text-center rmcc-margin-small rmcc-h3">{{ menu_iconnav.title|e('esc_html') }}</h4>

  <hr class="rmcc-divider-small rmcc-text-center">

  {# socials/icon nav: items #}
  <ul class="rmcc-iconnav rmcc-flex rmcc-flex-center">
    {% for item in menu_iconnav.get_items %}
      <li class="{{ item.classes|join(' ')|e('esc_html') }}">
        <a href="{{ item.link|e('esc_url') }}" target="_blank">
          {{ item.title|e('wp_kses_post')}}
        </a>
      </li>
    {% endfor %}
  </ul>

{% endif %}