{# translation-ready, escaped, formatted, semantic #}
<div class="footer-bottom uk-section uk-section-small uk-section-default theme-border-top" data-template="footer-bottom.twig">
  <div class="uk-container">
    <div class="uk-text-center">
      <img src="{{theme.link}}/assets/images/logos/serchek_logo.jpg" width="253" height="39" uk-svg>
    </div>
  </div>
</div>