<section class="subscribe-section above-footer uk-section uk-section-small uk-section-default theme-border-top">
  <div class="uk-container uk-container-small uk-text-center">
    <div class="uk-margin-bottom uk-text-emphasis">
      <i class="far fa-envelope fa-2x"></i>
    </div>
    <h2 class="uk-margin-remove-top">{{ __('Sign up for first access to new competitions, sales & events', 'cautious-octo-fiesta')|e('esc_html') }}</h2>
    {{ function('do_shortcode', '[contact-form-7 title="Subscribe"]') }}
    <p class="uk-text-emphasis">{{ __('Get notified about the latest promotions & updates.', 'cautious-octo-fiesta')|e('esc_html') }}</p>
  <div>
</section>