{% extends "page-default.twig" %}

{% block header %}
  <header class="uk-inline">
    <div class="header-top-nav main-nav uk-position-top uk-position-z-index">
      <div uk-sticky="animation: uk-animation-slide-top; sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; cls-inactive: uk-navbar-transparent uk-light; top: 200">
        {% include 'main-nav.twig' %}
      </div>
    </div>
    <img class="cover-img uk-height-large" src="{{theme.link}}/assets/images/stock7.jpg" alt="">
    <div class="uk-overlay-primary uk-position-cover uk-position-cover-padded padded-outset-border">
      <div class="uk-position-center">
        <div class="uk-text-center uk-container uk-container-xsmall">
          <h1 class="uk-margin-large-top">Blog</h1>
        </div>
      </div>
    </div>
  </header>
{% endblock %}

{% block contentwrap %}
  <section class="uk-section uk-section-large">
    <div class="blog-list uk-container">
      <div class="uk-child-width-1-1 uk-grid-large" uk-grid>
        
        <div class="tease-post">
          <div class="uk-grid-match uk-flex uk-flex-middle" uk-grid>
            <div class="tease-image uk-width-1-2@m">
              <a class="uk-link-reset" href="#">
                <img class="uk-border-rounded square-img-to-landscape-mobile" data-src="https://picsum.photos/500/400?random=1" width="500" height="400" alt="" uk-img>
              </a>
            </div>
            <div class="tease-content uk-width-1-2@m">
              <div class="tease-content-wrap uk-text-center">
                <a class="uk-link-reset" href="#">
                  <h2 class="tease-title uk-margin-remove-top">Excepteur sint occaecat cupidatat non proident sunt</h2>
                </a>
                <div class="tease-meta uk-text-meta">
                  <time class="post-date" datetime="2021-05-02">May 02, 2021</time>
                  <span class="read-time">3 min read</span>
                </div>
                <p class="tease-excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia....</p>
                <a href="#" class="uk-button uk-button-default uk-button-large">Read more</a>
              </div>
            </div>
          </div>
        </div>
        <div class="tease-post">
          <div class="uk-grid-match uk-flex uk-flex-middle" uk-grid>
            <div class="tease-content uk-width-1-2@m">
              <div class="tease-content-wrap uk-text-center">
                <a class="uk-link-reset" href="#">
                  <h2 class="tease-title uk-margin-remove-top">Lorem ipsum dolor sit amet, consectetur adipisicing</h2>
                </a>
                <div class="tease-meta uk-text-meta">
                  <time class="post-date" datetime="2021-05-02">May 02, 2021</time>
                  <span class="read-time">3 min read</span>
                </div>
                <p class="tease-excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia....</p>
                <a href="#" class="uk-button uk-button-default uk-button-large">Read more</a>
              </div>
            </div>
            <div class="tease-image uk-width-1-2@m">
              <a class="uk-link-reset" href="#">
                <img class="uk-border-rounded square-img-to-landscape-mobile" data-src="https://picsum.photos/500/400?random=2" width="500" height="400" alt="" uk-img>
              </a>
            </div>
          </div>
        </div>
        <div class="tease-post">
          <div class="uk-grid-match uk-flex uk-flex-middle" uk-grid>
            <div class="tease-image uk-width-1-2@m">
              <a class="uk-link-reset" href="#">
                <img class="uk-border-rounded square-img-to-landscape-mobile" data-src="https://picsum.photos/500/400?random=3" width="500" height="400" alt="" uk-img>
              </a>
            </div>
            <div class="tease-content uk-width-1-2@m">
              <div class="tease-content-wrap uk-text-center">
                <a class="uk-link-reset" href="#">
                  <h2 class="tease-title uk-margin-remove-top">Sed do eiusmod tempor incididunt ut labore et dolore</h2>
                </a>
                <div class="tease-meta uk-text-meta">
                  <time class="post-date" datetime="2021-05-02">May 02, 2021</time>
                  <span class="read-time">3 min read</span>
                </div>
                <p class="tease-excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia....</p>
                <a href="#" class="uk-button uk-button-default uk-button-large">Read more</a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
{% endblock %}