{% extends "base.twig" %}

{% block contentwrap %}
  <section class="uk-section">
    <div class="single-content uk-container uk-container-xsmall">
      <h1 class="uk-text-center uk-text-bold uk-margin-medium-bottom">{{post.title}}</h1>
      {{post.content}}
    </div>
  </section>
{% endblock %}