{% if cross_sells %}
  <h2 class="uk-h3">
    {% filter apply_filters( 'woocommerce_product_cross_sells_products_heading') %}
      {{ __('You may be interested in&hellip;', 'woocommerce')|e('esc_html') }}
    {% endfilter %}
  </h2>
  <div id="slideshow_cross" class="swiper-container">
    <div class="swiper-wrapper">
      {% for post in cross_sells %}
        <div class="swiper-slide">
          {% include 'tease-product-list.twig' %}
        </div>
      {% endfor %}
    </div>
    {% if cross_sells|length > 1 %}
      <div class="swiper-pagination"></div>
    {% endif %}
  </div>
{% endif %}