/* 
  for breaking uikit containers inside gutenberg
*/

body {
  /* overflow-x: hidden; */
}
/* does this even belong here? */
.uk-container-break .alignwide {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* apply xsmall container to all elements inside .gutenberg-editor, with exceptions 

  script : inline scripts gets displayed as outut otherwise!
  style : same as scripts
  div.wp-block-image : these elements will have their own internal figure.alignclas to apply containers to later
  .alignfull : obvs we dont want to contain alignfull elements
  .uk-container-break : same as alignfull

*/
.gutenberg-editor>*:not(script, style, div.wp-block-image, .alignfull, .uk-container-break) {
  box-sizing: content-box;
  display: flow-root;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px; /* should be the MAIN container width of content */
  padding-left: 15px;
  padding-right: 15px;
}

/* apply default container to all div.wp-block-image elements inside .gutenberg-editor, with exceptions 

  This is so we can apply the standard container (should really obey the parent container instead) & then align the element inside...

  .alignfull : obvs we dont want to contain div.wp-block-image elements that also have alignfull

*/
.gutenberg-editor > div.wp-block-image:not(.alignfull) {
  box-sizing: content-box;
  display: flow-root;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1200px; /* the container width of elements that ought to have 'align' child elements. should obey MAIN container */
}

/* 
  apply uk-container-xsmall styles to .wp-block-image > alignleft|right|center elements 
*/

/* deal with .wp-block-image align descendants

  .aligncenter, .alignleft & .alignright descendants of .gutenberg-editor > .wp-block-image 
  need containing to a xsmall width. this is because 'align' settings should always result
  xsmall containeed element inside a standard container (should be whatever the parent container is)
  
  .gutenberg-editor > .wp-block-image & .gutenberg-editor > .wp-block-cover elements with .alignwide
  should obvs get the xlarge container treatment

*/
.gutenberg-editor > div.wp-block-image .aligncenter,
.gutenberg-editor > div.wp-block-image .alignleft,
.gutenberg-editor > div.wp-block-image .alignright {
  margin-left: auto;
  margin-right: auto;
  max-width: 650px!important; /* the width of 'align' elements */
}
.gutenberg-editor > .alignwide,
.gutenberg-editor > .wp-block-image.alignwide,
.gutenberg-editor > .wp-block-cover.alignwide {
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px!important; /* the container width of 'alignwide' elements */
}

/* apply responsive paddings to the fake containers

  this will modify the base padding (15px) set above, for different screen widths. this should on;y
  apply to elements that have been contained above..
  
  all .gutenberg-editor > div.wp-block-image that are not  .alignfull
  all .gutenberg-editor child elements that are not .alignfull, div.wp-block-image & .uk-container-break

*/
@media (min-width: 640px) {
  .gutenberg-editor > div.wp-block-image:not(.alignfull),
  .gutenberg-editor>*:not(.alignfull, div.wp-block-image, .uk-container-break) {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (min-width: 960px) {
  .gutenberg-editor > div.wp-block-image:not(.alignfull),
  .gutenberg-editor>*:not(.alignfull, div.wp-block-image, .uk-container-break) {
    padding-left: 40px;
    padding-right: 40px;
  }
}

/* fixing other gutenberg elements

  to work inside our
  fake containers
  from above. These elements
  will be direct
  descendants of .gutenberg-editor
  
*/

/* text blocks */
.gutenberg-editor > .wp-block-text-columns, .gutenberg-editor > .wp-block-text-columns.aligncenter {
  display: flex!important;
}
.gutenberg-editor > .wp-block-columns {
  display: flex!important;
  margin-bottom: 1.75em!important;
  box-sizing: border-box!important;
  flex-wrap: wrap!important;
}

/* code blocks */
.gutenberg-editor > pre {
  background: none;
  border: none;
  border-radius: 0x;
  color: unset;
  font: unset;
}
.gutenberg-editor > .wp-block-code code {
  display: block;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  background-color: #fff;
  overflow: auto;
  padding: 10px;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  color: #666;
  font: 0.875rem/1.5 Consolas,monaco,monospace;
}

/* ul li items */
.gutenberg-editor > ul > li {
  margin: 0.5rem 0 0 2rem;
}

/* hr separators */
.gutenberg-editor > hr {
  padding-left: 0!important;
  padding-right: 0!important;
}

.gutenberg-editor > .wp-block-embed {
  word-wrap: break-word;
}