<section class="single-meta uk-margin-medium">
  <div class="social-icons uk-grid-small uk-child-width-auto" uk-grid>
    <div>Share: </div>
    <div><a href="https://www.facebook.com/sharer.php?u={{post.link|url_encode}}"><i class="fab fa-facebook-f"></i></a></div>
    <div><a href="https://twitter.com/share?text={{post.title|url_encode}}&url={{post.link|url_encode}}"><i class="fab fa-twitter"></i></a></div>
  </div>
</section>