<form id="FiltersForm" action="" class="" method="get" role="search">
  <fieldset class="rmcc-fieldset">
    {% include 'archive/filters/form/nav.twig' %}
    {% include 'archive/filters/form/inputs.twig' %}
  </fieldset>
</form>