<div class="rmcc-text-bold rmcc-text-emphasis"> {{ _x('Posts loading...', 'Archive: filters', 'base-theme')|e('esc_html') }}</div>
<ul class="demo-archive-posts demo-filters-container demo-products rmcc-child-width-1-1 rmcc-grid rmcc-grid-small" rmcc-grid="masonry: true">
  <li>
    <div class="rmcc-height-small rmcc-background-muted"></div>
    <div class="demo-text demo-text-first rmcc-background-muted"></div>
    <div class="demo-text rmcc-background-muted"></div>
  </li>
  <li>
    <div class="rmcc-height-small rmcc-background-muted"></div>
    <div class="demo-text demo-text-first rmcc-background-muted"></div>
    <div class="demo-text rmcc-background-muted"></div>
  </li>
  <li>
    <div class="rmcc-height-small rmcc-background-muted"></div>
    <div class="demo-text demo-text-first rmcc-background-muted"></div>
    <div class="demo-text rmcc-background-muted"></div>
  </li>
  <li>
    <div class="rmcc-height-small rmcc-background-muted"></div>
    <div class="demo-text demo-text-first rmcc-background-muted"></div>
    <div class="demo-text rmcc-background-muted"></div>
  </li>
  <li>
    <div class="rmcc-height-small rmcc-background-muted"></div>
    <div class="demo-text demo-text-first rmcc-background-muted"></div>
    <div class="demo-text rmcc-background-muted"></div>
  </li>
  <li>
    <div class="rmcc-height-small rmcc-background-muted"></div>
    <div class="demo-text demo-text-first rmcc-background-muted"></div>
    <div class="demo-text rmcc-background-muted"></div>
  </li>
  <li>
    <div class="rmcc-height-small rmcc-background-muted"></div>
    <div class="demo-text demo-text-first rmcc-background-muted"></div>
    <div class="demo-text rmcc-background-muted"></div>
  </li>
  <li>
    <div class="rmcc-height-small rmcc-background-muted"></div>
    <div class="demo-text demo-text-first rmcc-background-muted"></div>
    <div class="demo-text rmcc-background-muted"></div>
  </li>
  <li>
    <div class="rmcc-height-small rmcc-background-muted"></div>
    <div class="demo-text demo-text-first rmcc-background-muted"></div>
    <div class="demo-text rmcc-background-muted"></div>
  </li>
  <li>
    <div class="rmcc-height-small rmcc-background-muted"></div>
    <div class="demo-text demo-text-first rmcc-background-muted"></div>
    <div class="demo-text rmcc-background-muted"></div>
  </li>
  <li>
    <div class="rmcc-height-small rmcc-background-muted"></div>
    <div class="demo-text demo-text-first rmcc-background-muted"></div>
    <div class="demo-text rmcc-background-muted"></div>
  </li>
  <li>
    <div class="rmcc-height-small rmcc-background-muted"></div>
    <div class="demo-text demo-text-first rmcc-background-muted"></div>
    <div class="demo-text rmcc-background-muted"></div>
  </li>
</ul>