{% if fn('post_password_required', post.id) and not fn('is_user_logged_in') %}
  {{ _x('Sorry, this area is for members-only; you need to be logged-in to view this content. If you are a customer & wish to have access to our member\'s area, please contact one of our service team via our <a href="/contact">contact</a> page & we will provided you with login details.', 'Password Protected Content Message', 'loadingdock-theme') }}
{% else %}
  {{post.content}}
{% endif %}