{# translation-ready, escaped, formatted, semantic #}
© {{ "now"|date("Y") }} <a href="{{site.url|e('esc_url')}}">{{site.title|e('esc_html')}}</a>. {{ _x('All rights reserved.', 'Copyright', 'cautious-octo-fiesta')|e('esc_html') }}