{# translation-ready, escaped, formatted, semantic #}
<div class="footer-bottom uk-section uk-section-small uk-section-default theme-border-top" data-template="footer-bottom.twig">
  <div class="uk-container">
    <div class="uk-grid-match uk-flex uk-flex-middle uk-flex-center" uk-grid>
      <div class="footer-copy uk-width-1-1 uk-width-expand@m">
        <div class="uk-width-2-3 uk-width-1-1@m uk-align-center uk-align-left@m uk-text-center uk-text-left@m">
          {% include 'footer-copyright.twig' %}
        </div>
      </div>
      <div class="payment-icons uk-width-auto">
        {% include 'payment-icons.twig' %}
      </div>
    </div>
  </div>
</div>