{% extends "narrow-page.twig" %}

{% block thumb %}
{% endblock %}

{% block content %}
  <article id="Page-{{post.id|e('esc_html')}}" class="{{post.class|e('esc_html')}}" data-template="page-builder-page.twig" data-block="content">
    {% block _content %}
      <div class="single-content">
        {% include '_content.twig' %}
      </div>
    {% endblock %}
  </article>
{% endblock %}