<section class="shop-filters rmcc-margin-medium-bottom">
  {% include 'archive/filters/form.twig' %}
</section>

{% block loader_grid %}
  <div id="DemoPostsGrid" class="rmcc-hidden rmcc-margin-medium-top">
    {% include 'archive/filters/loading_posts.twig' %}
  </div>
{% endblock %}