<header class="archive-header">

  {% block archive_title_desc %}
    <div class="rmcc-section rmcc-section-muted rmcc-section-small rmcc-padding-remove-top">
      <div class="rmcc-container rmcc-container-xsmall rmcc-margin-small-top rmcc-text-left rmcc-text-center@s">

        <h1>{{ archive.title|e('esc_html') }}</h1>

        {% block archive_desc %}
          {% if archive.description %}
            <div class="rmcc-flex rmcc-flex-left rmcc-flex-center@s">
              <p class="excerpt rmcc-text-muted rmcc-margin-remove rmcc-width-4-5">{{ archive.description|e('wp_kses_post') }}</p>
            </div>
          {% endif %}
        {% endblock %}

      </div>
    </div>
  {% endblock %}

  {% block breads %}
    {% if fn('yoast_breadcrumb_enabled') and not fn('is_front_page') %}
      {% include 'breads.twig' %}
    {% endif %}
  {% endblock %}

</header>