{# translation-ready, escaped, formatted, semantic #}
{% extends "page.twig" %}

{% block contentwrap %}
  <section class="uk-section uk-container uk-container-small">
    {{post.content}}
  </section>
{% endblock %}

{% block scripts %}
  {# account specific scripts #}
  <script type='text/javascript'>
    // account customizations
    jQuery(function($) {
      
      $("main .button").addClass("uk-button-default");
      // $(".woocommerce-MyAccount-navigation ul").attr("uk-tab", true);
      $(".woocommerce-MyAccount-navigation ul").addClass("uk-subnav uk-subnav-pill");
      $(".woocommerce-orders-table").addClass("uk-table-striped uk-table-middle uk-table-justify");
      $(".woocommerce-orders-table").wrap("<div class='uk-overflow-auto'>", "</div>");
      $(".woocommerce-Message .button").addClass("uk-button-small uk-margin-right");
      
      // things to add back after ajax calls
      function MyAccountRestyleAfterAjax() {
        $("select").addClass("uk-select");
        $(".input-text").addClass("uk-input");
        $("label").addClass("uk-form-label");
      };
      // on dom modified
      $("body").on('DOMSubtreeModified', ".woocommerce-address-fields", MyAccountRestyleAfterAjax);
    });
  </script>
{% endblock %}