{# translation-ready, escaped, formatted, semantic #}
{% extends "archive.twig" %}

{% block styles %}
  {# shop specific styles #}
  <style>
    .woocommerce-message {
      margin-bottom: 15px;
    }
    .woocommerce .woocommerce a.uk-button-large.loading {
      padding-right: 4em;
    }
  </style>
{% endblock %}

{% block header %}
  <header class="uk-inline">
    <div class="header-top-nav main-nav uk-position-top uk-position-z-index">
      <div uk-sticky="animation: uk-animation-slide-top; sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; cls-inactive: uk-navbar-transparent uk-light; top: 200">
        {% include 'header-nav.twig' %}
      </div>
    </div>
    <img class="cover-img uk-height-large" 
    src="{{cat_featured_img|resize(1920)|default(options.site_featured_image.url|resize(1920)|default(theme.link ~ '/assets/images/clouds1.jpg'))|e('esc_url')}}" 
    alt="{{cat_featured_alt|default(options.site_featured_image.alt)|e('esc_html')}}">
    <div class="uk-overlay-primary uk-position-cover">
      <div class="uk-position-center">
        <div class="uk-text-center uk-container uk-container-xsmall">
          <h1 class="uk-text-bold uk-margin-large-top">{{title|e('esc_html')}}</h1>
          {% do action('woocommerce_archive_description') %}
        </div>
      </div>
    </div>
  </header>
{% endblock %}

{% block contentwrap %}
  <section class="uk-section uk-container">
      
    {# shop breads #}
    <div class="shop-breads uk-margin-large-bottom">
      {% do action('woocommerce_before_main_content') %}
    </div>
    
    {# shop toolbar #}
    <div class="shop-toolbar uk-margin-small-bottom">
      {% do action('woocommerce_before_shop_loop') %}
    </div>
    
    {# shop products #}
    {% if products is not empty %}
      <div class="products products-grid archive-posts uk-child-width-1-{{products_grid_columns|e('esc_html')}}@m" uk-grid="masonry: true">
        {% for post in products %}
          {% if products_grid_columns == 1 %}
            <div>{% include 'tease-product-list.twig' %}</div>
          {% else %}
            <div>{% include 'tease-product.twig' %}</div>
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}
    
    {# shop empty #}
    {% if products is empty %}
      <div class="shop-empty">
        {% do action('woocommerce_no_products_found') %}
      </div>
    {% endif %}
    
    {# shop pagination #}
    {% if (pagination.next or pagination.prev) %}
      <div class="shop-paged uk-margin-large-top">
        {% include 'pagination.twig' %}
      </div>
    {% endif %}
    
    {% do action('woocommerce_after_shop_loop') %}

    {% do action('woocommerce_after_main_content') %}
      
  </section>
{% endblock %}